* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(247, 253, 255);
  --bg-desktop: url(./assets/bg-desktop.webp);
  --shadow-color: rgba(3, 22, 40, 0.3);
}

html {
  overscroll-behavior: none;
}

body {
  color: var(--text-color);
  background: var(--bg-desktop) no-repeat center center fixed;
  background-size: cover;
}

body * {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
}

.title-group {
  text-align: center;
  padding-top: 2rem;
}

#title {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

#description {
  padding-top: 5px;
  font-weight: 200;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.form {
  max-width: 780px;
  width: 100%;
  margin: 60px auto 0;
  background-color: rgba(18, 54, 90, 0.6);
  border-radius: 0.375rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 12px 0 var(--shadow-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='780' height='1200' preserveAspectRatio='none' viewBox='0 0 780 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1259%26quot%3b)' fill='none'%3e%3cpath d='M780 0L777.81 0L780 492.13z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M777.81 0L780 492.13L780 872.05L440.47999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M440.48 0L780 872.05L780 1052.94L335.25 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M335.25 0L780 1052.94L780 1144.0900000000001L305.1 0z' fill='rgba(255%2c 255%2c 255%2c .015)'%3e%3c/path%3e%3cpath d='M0 1200L114.91 1200L0 839.9z' fill='rgba(0%2c 0%2c 0%2c 0.12)'%3e%3c/path%3e%3cpath d='M0 839.9L114.91 1200L350.08 1200L0 764.5z' fill='rgba(0%2c 0%2c 0%2c 0.09)'%3e%3c/path%3e%3cpath d='M0 764.5L350.08 1200L452.59 1200L0 704.24z' fill='rgba(0%2c 0%2c 0%2c 0.06)'%3e%3c/path%3e%3cpath d='M0 704.24L452.59 1200L472.16999999999996 1200L0 609.71z' fill='rgba(0%2c 0%2c 0%2c 0.03)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1259'%3e%3crect width='780' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#survey-form {
  padding: 1.25rem 2.25rem 2.25rem;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
}

.name-group {
  width: 48%;
}

.no-select {
  user-select: none;
}

.form-group {
  margin-top: 20px;
  font-size: 1.125rem;
}

.form-group p {
  font-size: 1rem;
}

.input-checkbox {
  margin-right: 0.5rem;
  transform: scale(1.2);
}

.form-button {
  margin-top: 1rem;
}

.form-control {
  color: rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: none;
  border-radius: 0.2rem;
}

.input-textarea {
  color: rgb(128, 128, 128);
  min-height: 120px;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.1rem;
}

::placeholder {
  color: rgb(128, 128, 128);
}

.input-textarea::placeholder {
  font-size: 1rem;
}

.form-control,
.input-textarea {
  padding: 6px 12px;
  width: 100%;
}

.form-control:focus,
.input-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(62, 130, 198), 0 0 0 4px rgb(90, 173, 218);
}

.checkbox-group label {
  font-size: 1rem;
  padding-right: 1rem;
}

.submit-button {
  display: block;
  width: 100%;
  margin: auto;
  padding: 0.75rem;
  background-image: linear-gradient(
    to top,
    rgb(71, 173, 67),
    rgb(101, 188, 87)
  );
  background-size: 300%;
  font-weight: 700;
  color: rgb(250, 255, 247);
  border-radius: 0.2rem;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.submit-button:hover {
  background-image: linear-gradient(
    to top,
    rgb(101, 188, 87),
    rgb(120, 204, 99)
  );
  cursor: pointer;
  transform: scale(1.03);
}

.modal {
  display: none;
  position: fixed;
  top: 26px;
  right: 26px;
  background-color: rgba(18, 54, 90, 0.8);
  border-radius: 0.2rem;
  backdrop-filter: blur(2.25px);
  -webkit-backdrop-filter: blur(2.25px);
  box-shadow: 0 0 12px 0 var(--shadow-color);
  padding: 1rem;
  z-index: 1;
  font-weight: 500;
}

.modal-content {
  color: var(--text-color);
  margin-right: 20px;
}

.close {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.close:hover,
.close:focus {
  color: rgb(242, 92, 93);
}

#modal-message:after {
  content: "*";
  color: rgb(242, 92, 93);
  font-weight: 500;
  display: inline-block;
  transform: scale(1.5);
  margin-left: 0.25rem;
}

.validation-failed-label::after {
  content: "*";
  color: rgb(242, 92, 93);
  font-weight: 500;
  display: inline-block;
  transform: scale(1.5);
  margin-left: 0.25rem;
}

.validation-failed-label.no-asterisk::after {
  content: "";
}

#confirmationModalMessage {
  position: relative;
  padding-left: 30px;
}

#confirmationModalMessage:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 3%;
  height: 16px;
  width: 6px;
  border-bottom: 5px solid rgb(120, 204, 99);
  border-right: 5px solid rgb(120, 204, 99);
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 768px) {
  body {
    background-image: url(./assets/bg-mobile.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
  }

  .form {
    min-height: 100vh;
    border-radius: 0;
    margin: auto;
    background-size: cover;
  }

  .checkbox-group label {
    display: block;
    margin-top: 8px;
  }

  .modal {
    transform: scale(0.8);
    left: 50%;
    top: 3%;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .modal {
    left: 35%;
  }
}

@media (max-width: 280px) {
  .modal {
    left: 20%;
  }
}
